## Ignore Recomp files, Build results, and Assets

assets/
generated/
.vs/

# Release zips
*.zip

# Linux build
/out/build/linux-amd64-debug/
/out/build/linux-amd64-release/
/out/build/linux-amd64-relwithdebinfo/.cmake
out/build/linux-amd64-relwithdebinfo/.ninja_deps
out/build/linux-amd64-relwithdebinfo/.ninja_log
out/build/linux-amd64-relwithdebinfo/build.ninja
out/build/linux-amd64-relwithdebinfo/cmake_install.cmake
out/build/linux-amd64-relwithdebinfo/CPackConfig.cmake
out/build/linux-amd64-relwithdebinfo/CPackSourceConfig.cmake
out/build/linux-amd64-relwithdebinfo/CMakeCache.txt
/out/build/linux-amd64-relwithdebinfo/CMakeFiles
/out/build/linux-amd64-relwithdebinfo/rexglue-sdk
/out/build/linux-amd64-relwithdebinfo/include
out/build/linux-amd64-relwithdebinfo/spdlog.pc
out/build/linux-amd64-relwithdebinfo/Testing/

# Windows build
/out/build/win-amd64-debug/
/out/build/win-amd64-release/
/out/build/win-amd64-relwithdebinfo/.cmake
out/build/win-amd64-relwithdebinfo/.ninja_deps
out/build/win-amd64-relwithdebinfo/.ninja_log
out/build/win-amd64-relwithdebinfo/build.ninja
out/build/win-amd64-relwithdebinfo/cmake_install.cmake
out/build/win-amd64-relwithdebinfo/CMakeCache.txt
/out/build/win-amd64-relwithdebinfo/CMakeFiles
out/build/win-amd64-relwithdebinfo/renut.lib
out/build/win-amd64-relwithdebinfo/Testing/
out/build/win-amd64-relwithdebinfo/VSInheritEnvironments.txt
out/build/win-amd64-relwithdebinfo/isenseconfig/
/out/build/win-amd64-relwithdebinfo/logs
launch.sh
LICENSE_extract-xiso.txt
renut.toml
extract-xiso
out